<b>notes</b>
- Commission requests of offensive or problematic content will be declined<br>
- Please decide if my artstyle is fitting for your character(s)
<br><br>

<b>payment</b>
an invoice will be sent through paypal<br>
unpaid requests will not be started on

<b>cancellation</b>
cancelation fee is $10.
full refund will be given if the commission wasn't started.<br>


<b>Usage</b>
personal use only.<br>
Link back to this site whenever uploading the piece(s)<br>