* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }


body {
    font-family: "Lato", sans-serif;
	text-transform: lowercase;

}

#charas {
	width: auto;

}


#port {
	width: auto;
	 
}


#label {
	color: grey;
	font-weight: bold;
	margin-left: auto; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
 
	width: auto;
	  
}

 a {
 
  color: hotpink;
  padding: 0px 0px;
  text-decoration: none;
	font-weight: 100;
	width: auto;
	
	  
}

a:hover {
  color: white;
	width: auto;
	  
}
    
  
    
   a:visited {
   color: hotpink;
	   text-decoration: none;
		 font-weight: 100;
    }
  

li a {
  display: block;
  color: silver;
  padding: 8px 16px;
  text-decoration: none;
	width: auto;
	
	  
}

li a:hover {
  text-decoration: none;
  color: white;
	width: auto;
	  
}


table {
	
	width: 1000px;
	margin-left:25%;
	margin-bottom: 100px;
	padding: 0;
	border-collapse: collapse;
}

td {
	vertical-align:top;
	margin: 0;
	border-collapse: collapse;
	width: auto;

}

  #container {
  background-color: #fff;

  text-align: center;
	  padding: 70px;
	  height:auto;
}


img {
	border: #FFf 1px solid;
	border-radius: 15px;
}


	#type {
	text-align: right;
	color: hotpink;
	font-size: 2em;
	font-weight: 100;
		
		letter-spacing: 2px;
  font-family: 'Bubbler One', sans-serif;
		width: auto;
		
		
	
}

#desc {
	font-size: 1em;
	color: grey;
	font-weight: 100;
	width: auto;
	text-align: right;
}

#desc2 {
	font-size: 1em;
	color: grey;
	font-weight: 100;
	width: auto;
	text-align: justify;
	padding-left: 100px;
	padding-right: 100px;
}

  #nav {
  position: fixed;
  margin-left:200px;
  margin-top: 55px;
  letter-spacing: 2px;
  font-family: 'Bubbler One', sans-serif;
  width: auto;
  background-color: white;
	  opacity: 0.5;
    padding: 20px; 
    width: 200px; 
display:block;	  
}