<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Cityscape</a>
        < </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
      </div>
  </nav>

  <center><img src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-card.png"></center>

  <div class="container">
    <div class="jumbotron">
      <h2>Did you know?</h2>

      <div align="justify">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque mauris in convallis porta. Integer ultricies odio id lectus placerat ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat maximus velit,
          et faucibus felis gravida sit amet. Nullam fringilla tellus elit, sed pretium nisl aliquam sit amet.</p>
      </div>

      <br><br>
      <center>
        <button type="button" class="btn btn-primary btn-lg">LET'S</button>
        <button type="button" class="btn btn-success btn-lg">GET</button>
        <button type="button" class="btn btn-warning btn-lg">THIS</button>
        <button type="button" class="btn btn-danger btn-lg">STARTED</button>

      </center>
    </div>
  </div>


  <center>

    <form class="form-inline" action="http://courses.washington.edu/bimd233/bimd.php" method="post">
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>


  </center>


  <div align="justify">
    <div class="row">
      <div class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque mauris in convallis porta. Integer ultricies odio id lectus placerat ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat maximus velit, et
        faucibus felis gravida sit amet. Nullam fringilla tellus elit, sed pretium nisl aliquam sit amet.


      </div>
      <div class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque mauris in convallis porta. Integer ultricies odio id lectus placerat ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat maximus velit, et
        faucibus felis gravida sit amet. Nullam fringilla tellus elit, sed pretium nisl aliquam sit amet.


      </div>
      <div class="col-sm-4">.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pellentesque mauris in convallis porta. Integer ultricies odio id lectus placerat ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat maximus velit, et
        faucibus felis gravida sit amet. Nullam fringilla tellus elit, sed pretium nisl aliquam sit amet.

      </div>
    </div>
  </div>

  <style>
    .jumbotron {
      width: 100%;
      background-color: #6f5499;
      color: white;
    }
    
    .item {
      height: 400px;
      width: 100%;
    }
    
    .col-sm-4 {
      padding: 50px;
    }
  </style>